doctype html
html 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // interpolation syntax doesnt not use = since it has both strings and variables
    title Natours | #{tour} 
    link(rel="stylesheet", href="css/style.css") 
    link(rel="shorcut icon", type="image/png", href="img/favicon.png")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")

  body 
    // HEADER
    include _header

    // Content
    block content 
      h1 this is a placeholder heading 

    include _footer
    // buffer code everything after = will be treated as javascript
    //- h1= tour
    //- h2= user.toUpperCase()
    // h1 The Park Camper

    // unbuffer code
    //- - const x = 9
    //- h2= 2*x
    //- p This is just some test